{% extends 'base.html' %}

{% block content %}

<h2>🌾 Produits agricoles</h2>

<div class="row">

{% for p in products %}

<div class="col-md-4">

    <div class="card mb-3">

        {% if p.image %}
        <img src="{{ p.image.url }}" class="card-img-top">
        {% endif %}

        <div class="card-body">

            <h5>{{ p.name }}</h5>

            <p>{{ p.price }} FCFA</p>


            <!-- STOCK BADGE -->
            {% if p.stock > 0 %}

                <span class="badge bg-success">
                    Stock : {{ p.stock }}
                </span>

            {% else %}

                <span class="badge bg-danger">
                    Rupture de stock
                </span>

            {% endif %}


            <br><br>


            <!-- AJOUT PANIER -->

            {% if p.stock > 0 %}

                <a href="{% url 'add_to_cart' p.id %}" 
                   class="btn btn-success">
                    🛒 Ajouter au panier
                </a>

            {% else %}

                <button class="btn btn-secondary" disabled>
                    Indisponible
                </button>

            {% endif %}


            <br><br>


            <!-- ACTION VENDEUR / ADMIN -->

            {% if user.is_authenticated %}

                {% if user.is_superuser or user.role == "ADMIN" or user.role == "VENDEUR" %}

                    <a href="{% url 'product_update' p.id %}" 
                       class="btn btn-warning">
                        ✏️ Modifier
                    </a>


                    <a href="{% url 'product_delete' p.id %}" 
                       class="btn btn-danger">
                        🗑️ Supprimer
                    </a>

                {% endif %}

            {% endif %}


        </div>

    </div>

</div>


{% empty %}

<p>Aucun produit disponible.</p>


{% endfor %}

</div>


{% endblock %}